/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"); */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1,
h1 {
  font-size: 32px;
}

.h2,
h2 {
  font-size: 24px;
}


.h3,
h3 {
  font-size: 20px;
}


.h4,
h4 {
  font-size: 18px;
}


.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}

.code,
code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}