@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");


.container {
  display: grid;
  grid-template-rows: 250px 1fr 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

.blogPostContainer {
  display: grid;
  grid-template-rows: 250px 2fr 100px 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

.nested {
  display: grid;
  grid-auto-rows: (1fr, auto);
  grid-template-columns: 1fr;
  padding: 10px;
  /*TODO: define gap between, this doesn't work */
}

.card {
  background: rgb(243, 235, 223);
  border: 1px solid rgb(58, 71, 66);
  padding: 10px;
}

.card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.box {
  background: #d1d1d1;
  padding: 15px;
}

.header {
  grid-area: hd;
  text-align: center;
  text-decoration: underline;
  background-color:rgba(113, 135, 143, 0.397);
}

.header>img {
  border-radius: 5%;
  height: 150px;
  width: 50%;
  min-width: 30%
}

.content {
  grid-area: main;
  border: 2px solid rgb(12, 12, 12);
  text-align: center;
  gap: 20px;
}

.sd {
  grid-area: sd;
  text-align: left;
}

.footer {
  grid-area: ft;
  text-align: right;
}

@media(min-width:800px) {
  .nested {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (2fr, auto);
  }
}